<div class="ml-2 mr-2 mt-3">

  <div class="question">
    <p><%= @question %></p>
    <p>- You</p>
  </div>

  <div class="answer">
    <p><%= @answer %></p>
    <p>- Stupid Coach</p>
  </div>
  <%= link_to "Ask another question", ask_path%>
</div>


