<div class="ml-3">
  <p>Ask stupid coach anything:</p>

  <form action="/answer" class="">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <input id="question" class="form-control" type="text" name="question">
        </div>
        <div class=" col">
          <input class="form-control btn-primary" type="submit" value="Ask!">
        </div>
      </div>
    </div>
  </form>
</div>


